<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graph -->
      <package
            uri="http://atlanmod.neoemf.tutorial"
            class="example.model.graph.GraphPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated reference -->
      <package
            uri="http://atlanmod.neoemf.reference"
            class="reference.ReferencePackage"
            genModel="src/reference.genmodel"/>
   </extension>

</plugin>
